<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Workout-Tracker</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/workouts/new">Add a new move</a>
        <a href="/workouts">View all moves</a>
        <form class="form-inline my-2 my-lg-0">
          <select onchange="location = this.value;" class="form-control">
            <option id="page-heading"value="/workouts/Monday">Select the day...</option>
            <option id="page-heading" value="/workouts/Monday">Monday</option>
            <option id="page-heading" value="/workouts/Tuesday">Tuesday</option>
            <option id="page-heading" value="/workouts/Wednesday">Wednesday</option>
            <option id="page-heading" value="/workouts/Thursday">Thursday</option>
            <option id="page-heading" value="/workouts/Friday">Friday</option>
            <option id="page-heading" value="/workouts/Saturday">Saturday</option>
            <option id="page-heading" value="/workouts/Sunday">Sunday</option>
          </select>
        </form>
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
        <% } else { %>    
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
      <br>

      <script>
  
        const currentURL = window.location.href;
      
        // Check the URL and set the heading text based on the URL
        if (currentURL.includes("/Monday")) {
          document.getElementById("page-heading").textContent = "Monday";
        } else if (currentURL.includes("/Tuesday")) {
          document.getElementById("page-heading").textContent = "Tuesday";
        } else if (currentURL.includes("/Wednesday")) {
          document.getElementById("page-heading").textContent = "Wednesday";
        } else if (currentURL.includes("/Thursday")) {
          document.getElementById("page-heading").textContent = "Thursday";
        } else if (currentURL.includes("/Friday")) {
          document.getElementById("page-heading").textContent = "Friday";
        } else if (currentURL.includes("/Saturday")) {
          document.getElementById("page-heading").textContent = "Saturday";
        } else if (currentURL.includes("/Sunday")) {
          document.getElementById("page-heading").textContent = "Sunday";
        }
      
        </script>
      
      
