<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Moves</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% workouts.forEach(function(w) {%>
            <tr>
                <td><%= w.name %></td>
            </tr>
            <tr>
                <td><%= w.reps %></td>
            </tr>
            <tr>
                <td><%= w.sets %></td>
            </tr>

            <% }) %>
    </tbody>

</table>

</body>