body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 5px;
}

nav a {
  text-decoration: none;
  margin: auto;
  color: #808080;
}

.card {
  margin: 20px 0;
  padding: 5px;
  text-align: center;
}
