body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

nav a {
  text-decoration: none;
  margin: auto;
  color: #808080;
}

.card {
  margin: 20px 0;
  padding: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

#deleteBtn {
  float: right;
}

#bold {
  font-weight: bold;
}

#formContainer {
  border: 2px solid lightgray;
  border-radius: 8%;
  padding: 18px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}